@font-face {
  font-family: MuseoSans700;
  src: url(../fonts/MuseoSansCyrl_700.woff);
}
@font-face {
  font-family: MuseoSans300;
  src: url(../fonts/MuseoSansCyrl_300.woff);
}
@font-face {
  font-family: MuseoSans500;
  src: url(../fonts/MuseoSansCyrl_500.woff);
}
@font-face {
  font-family: MuseoSans900;
  src: url(../fonts/MuseoSansCyrl_900.woff);
}