.t-sales_info p:first-of-type, .quote-info p:first-of-type, .orders-info p:first-of-type, .products-info p:first-of-type {
    font-family: MuseoSans700;
}

.t-sales_info p:last-of-type, .quote-info p:last-of-type, .orders-info p:last-of-type, .products-info p:last-of-type, .user-menu a, .visitors, .visitors-number, .monthly-report, .weekly p,.total p, .web-traffic-details, .name, .user_info, .customers p, .customers p, .products p, .followers p {
    font-family: MuseoSans500;
}

.user-country, .user-name, .visitor-info h3, .web-and-refresh h3, .colour-block p, .nick-name, .customers span, .products span, .followers span {
    font-family: MuseoSans300;
}



.weekly, .total, .column-stuff, .sales_icon, .t-sales_info, .quote-info, .orders-info, .products-info, .quote-icon, .orders-icon, .products-icon, .header_logo, .whole-table, .web-traffic-info, .user-page_column  {
    -webkit-box-shadow: 1px 3px 3px #D7D9DD;
    -moz-box-shadow: 1px 3px 3px #D7D9DD;
    box-shadow: 1px 3px 3px #D7D9DD;
}



.user-name, .visitor-info h3, .web-and-refresh h3 {
    font-size: 25px;
}

.customers span, .products span, .followers span {
    font-size: 33.33px;
}


#hover span:first-of-type, .user-country, .user-menu a, .user-settings a, .user-country, .colour-block p, .customers p, .products p, .followers p {
    font-size: 16.67px
}

.t-sales_info p:last-of-type, .quote-info p:last-of-type, .orders-info p:last-of-type, .products-info p:last-of-type  {
    font-size: 18.75px;
}

.t-sales_info p:first-of-type, .quote-info p:first-of-type, .orders-info p:first-of-type, .products-info p:first-of-type, .visitors, .visitors-number, .monthly-report, .weekly p,.total p, .web-traffic-details, .nick-name, .user_info {
    font-size: 14.58px;

}

.name {
    font-size: 20.53px;
}

.visitor-info, .web-and-refresh, .table-headline  {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.visitors, .weekly p, .total p, .visitors-number, .monthly-report, .web-traffic p, .user-main-page p, .votes-refresh, table {
    color: #78909C;
}

.hover-info, .t-sales_info, .quote-info, .orders-info, .products-info, .column-stuff, .weekly, .total, .web-traffic-info, .user-page_column   {
    background-color: #fff;
}

#messages span, .user-name, .profile-cover p {
    color: #fff;
}




header {
    overflow: hidden;
}

.header_logo {
    height: 75px;
}

.header-box {
    padding-top: 30px;
    margin-right: 52px;
}

.menu-search_section, .settings-icon {
    float: left;

}

.menu-search_section {
    margin-left: 39px;
}

.settings-icon, .search-icon, .logout-icon, .simple-menu span {
    cursor: pointer;
}

.search-icon, .play-icon, .settings-icon, .logout-icon, .sales_icon, .quote-icon, .orders-icon, .products-icon, #dashboard, #messages, #elements, #charts, #calendar, .awesome, .satisfied, .average, .not-useful, .refresh_icon, .profile-cover, .votes-refresh {
    background-repeat: no-repeat;
}

.play-icon {
    background-image: url(../img/play-icon.png);
    width: 7px;
    height: 9px;
    float: left;
    position: relative;
    right: 10px;
    top: 4px;
}

.simple-menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #B0BEC5;
    margin-bottom: 5px;
}



.search-icon {
    background-image: url(../img/search-icon.png);
    width: 19px;
    height: 19px;
    margin-left: 50px;
    margin-top: -22px;
}

.settings-logout_section, .search-icon, .logout-icon {
    float: right;
}

.settings-icon {
    background-image: url(../img/settings-icon.png);
    width: 18px;
    height: 18px;
    margin-right: 26px;
}

.logout-icon {
    background-image: url(../img/logout-icon.png);
    width: 19px;
    height: 18px;
}


.logo {
    background-image: url(../img/logo.png);
    background-color: #00BFE8;
    width: 313px;
    height: 78px;
    float: left;
    border-bottom: 3px solid #2F3B4C;
}



aside {
    background-color: #2F3B4C;
    width: 313px;
    height: 1450px;
    float: left;
}

.user-profile {
    padding-top: 40px;
    height: 130px;
    padding-left: 15px;
}

.user-main-info {
    position: relative;
    bottom: 16px;

}

.user-name {
    font-size: 25px;
    margin-bottom: 0;
}

.user-country, .user-menu a, .user-settings a {
    color: #B0BEC5
}

.user-pic img {
    border-radius: 50%;
    position: absolute;
}

.availability-mark {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #33DE80;
    border-radius: 50%;
    position: relative;
    top: 46px;
    left: 50px;
    border: 4px solid;
}

.user-settings a {
    display: block;
    height: 40px;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 8px;
}

.user-settings a:hover {
    background-color: #2A3344;
}

.side-bar_line {
    width: 252px;
    height: 1px;
    background-color: #B0BEC5;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 25px;
}



.user-menu {
    padding-top: 27px;
    margin-bottom: 25px;
}

.user-menu a {
    display: block;
    height: 52px;
    text-decoration: none;
    padding-left: 62px;
    background-position-x: 25px;
    background-position-y: center;
    text-align: left;
    padding-top: 16px;
    border-left: 4px solid transparent;
}

.user-menu a:hover {
    background-color: #2A3344;
    border-left-color: #00BFE8;
}

#dashboard {
    background-image: url(../img/dashboard-house_icon.png);
}

#messages {
    background-image: url(../img/messages-icon.png);
}

#messages span {
    display: inline-block;
    margin-left: 97PX;
    background-color: #00BFE8;
    border-radius: 15px;
    width: 47px;
    height: 20px;
    text-align: center;
    font-size: 12.5px;
    padding-top: 3px;
}

#elements {
    background-image: url(../img/elements-icon.png);
}

#charts {
    background-image: url(../img/charts-icon.png);
}

#calendar {
    background-image: url(../img/calendar-icon.png);
}


.content {
    overflow: hidden;
    padding-left: 27px;
    padding-top: 28px;
    padding-right: 27px;
}


main {
    background-color: #ECEEF2;
    overflow: hidden;
}

.info-blocks {
    margin-bottom: 20px;
}

.sales-block, .quote-block, .orders-block, .products-block, .sales_icon, .t-sales_info, .quote-info, .orders-info, .products-info, .quote-icon, .orders-icon, .products-icon  {
    height: 110px;

}

.sales_icon, .quote-icon, .orders-icon, .products-icon {
    background-position: center;
}

.t-sales_info, .quote-info, .orders-info, .products-info {
    padding-top: 32px;
}


.t-sales_info p:first-of-type {
    color: #FF8761;
}

.quote-info p:first-of-type {
    color: #57BDDE;
}

.orders-info p:first-of-type {
    color: #B198DC;
}

.products-info p:first-of-type {
    color: #6DC7BE;
}

.sales_icon {
    background-image: url(../img/total-sales_icon.png);
    background-color: #FF8761;
}

.quote-icon {
    background-color: #57BDDE;
    background-image: url(../img/new-quote_icon.png);
}

.orders-icon {
    background-color: #B198DC;
    background-image: url(../img/orders-icon.png);
}

.products-icon {
    background-image: url(../img/products-icon.png);
    background-color: #6DC7BE;
}

.column-stuff {
    margin-bottom: 30px;
}

.visitor-info {
    margin: 0 30px 20px 30px;
}

.visitors-icon {
    margin-right: 7x;
    margin-left: 50x;
}

.visitors-chart img {
    margin-left: 30px;
    margin-right: 30px;
    height: 450px;
}

.visitors-number {
    list-style: none;
    float: left
}


.weekly {
    height: 253px;
}

.weekly-total_charts p {
    margin-top: 15px;
}

.weekly img {
    top: 65px;
}

.total img, .weekly img {
    position: relative;
    width: 307px;
}

.total {
    height: 253px;
}

.total img {
    top: 73px;
}

.weekly, .total {
    text-align: center;
    overflow: hidden;
    margin: 0 auto 20px;
}

#hover span:first-of-type {
    color: #38A4DD;
}

#hover span:nth-last-of-type(1) {
    font-size: 33.33px;
}




.web-traffic-info {
    padding: 30px 30px 28px 30px;
}

.web-and-refresh {
    margin-bottom: 10px;
    margin-top: -15px;

}

.colour-block {
    float: right;
    padding-top: 55px;
}

.colour-block span {
    margin-right: 9px;
}

.colour-block span, .colour-block p {
    display: inline-block;
}

.purple-rectangular, .yellow-rectangular, .blue-rectangular {
    width: 11px;
    height: 11px;
    display: block;
}

.yellow-rectangular {
    background-color: #FFC400;
}

.blue-rectangular {
    background-color: #38A4DD;
}

.purple-rectangular {
    background-color: #B39DDB;
}

.refresh_icon {
    background-image: url(../img/refresh-btn.png);
    display: block;
    width: 18px;
    height: 18px;
}

.hover-info {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    text-align: center;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.traffic-chart {
    overflow: hidden;
    height: auto;
    display: inline-block;
    width: 70%;
    margin-bottom: 33px;
    position: relative;
}

.traffic-chart img {
    z-index: 9;
    margin: 0 auto;
}

.profile-cover p:first-of-type {
    padding-top: 45px;
    padding-bottom: -45px;
}

.user-page_column {
    padding-bottom: 23px
}

.user-photo img {
    border-radius: 50%;
    border: 6px solid #fff;
}

.profile-cover {
    background-image: url(../img/profile-background.jpg);
    background-size: cover;
    height: 150px;
}

.user-photo {
    text-align: center;
    position: relative;
    top: -40px;
}

.user-info {
    margin-bottom: 38px;
}

.followers, .products, .customers {
    text-align: center;
}

.products {
    border-right: 1px solid #CFD8DC;
    border-left: 1px solid #CFD8DC;
}



.table-bordered {
    margin: 0 auto;
    width: 1320px;
}

.whole-table {
    background-color: #fff;
    margin-bottom: 33px;
    margin-top: 20px;
}

.votes-refresh {
    margin-right: 28px;
}

.refresh-btn {
    background-image: url(../img/refresh-btn.png);
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    cursor: pointer;
}

.table-headline {
    margin-left: 28px;
    margin-right: 28px;
}

.awesome, .satisfied, .average, .not-useful {
    background-position-x: 27px;
    background-position-y: center;
    padding-left: 54px;
    width: 318px;
}

.awesome {
    background-image: url(../img/ratings-happy.png);
}

.satisfied {
    background-image: url(../img/ratings-smiley.png);
}

.average {
    background-image: url(../img/ratings-sad.png);
}

.not-useful {
    background-image: url(../img/ratings-angry.png)
}

table {
    margin-top: 43px;
}

table td {
    height: 52px;
}

.td_filler {
    width: 516px;
    text-align: center;
}

.grey {
    height: 8px;
    width: 420px;
    background-color: #DAE4E8;
    display: inline-block;
    position: relative;
}

.grey, .green-filler, .blue-filler, .red-filler, .yellow-filler {
    border-radius: 5px;
}

.green-filler {
    background-color: #5EC7BD;
    width: 67%;

}

.blue-filler {
    background-color: #38A4DD;
    width: 25%;
}

.yellow-filler {
    background-color: #FFC400;
    width: 7%;
}

.red-filler {
    background-color: #FF7043;
    width: 15%;
}

.percentage {
    width: 93px;
    border-right-style: none;
    text-align: center;
}


@media (max-device-width: 768px ) {
    aside {
        height: auto;
        width: 100%;
    }

    .logo {
        border-bottom: none;
        width: 100%;
    }



    .quote-block {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .orders-block {
        margin-bottom: 20px;
    }



    .product-visitors-block {
        margin-bottom: 20px;
    }



    .colour-block {
        float: none;
        padding-top: 0;
    }

    .web-traffic-details br {
        display: none;
    }


    .traffic-chart {
        margin-bottom: 0;
    }

    .responsive_table {
        overflow: auto;
        margin: 10px;
    }

    .table-headline {
        display: block;
        text-align: center;
    }

    .table-bordered {
        margin: 20px;
    }
}

@media (max-device-width: 375px ) {
    .user_info br {
        display: none;
    }
}
#but-slide1-settings{
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    width: 100px;
    top:50px;
    right: 40px;
    text-align: left;
}
#but-slide1-settings li:hover{
    background: gray;
}
.simple-menuu{
    display: none;
    position: absolute;
    background-color: #2A3344;
    color: white;
    list-style-type: none;
}
.simple-menuu li:hover{
    background-color:white;
    color:#2A3344;
}